<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 footer-col">
                <h2 class="footer-title">
                    Help
                </h2>
                <ul class="list-footer">
                    <li><a href="#">+1 (703)-909-3859</a></li>
                    <li><a href="mailto:help@unclehub.com">help@unclehub.com</a></li>
                    <li><a href="">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 footer-col">
                <h2 class="footer-title">
                    Company
                </h2>
                <ul class="list-footer">
                    <li><a href="http://oluha.com/index.php/about/">About Us</a></li>
                    <li><a href="mailto:help@unclehub.com">Careers</a></li>
                    <li><a href="mailto:help@unclehub.com">Sell on UncleHub</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 footer-col">
                <h2 class="footer-title">
                    Social
                </h2>
                <ul class="footer-social-list">
                    <li>
                        <a href="https://www.facebook.com/OluhaIC/?fref=ts"><i class="fa fa-facebook"></i> </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/UncleHubinc"><i class="fa fa-twitter"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/unclehub-519732129?authType=NAME_SEARCH&authToken=l31N&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A530327397%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1476130555785%2Ctas%3Aunclehub"><i class="fa fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/uncle.hub/?hl=en"><i class="fa fa-instagram"></i> </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 footer-col">
                <h2 class="footer-title">
                    Get The Offers
                </h2>
                <ul class="list-footer">
                    <li><a href=""><i class="fa fa-envelope"></i> Sign up for our emails</a></li>
                </ul>
                <h2 class="footer-title">
                    Feedback
                </h2>
                <ul class="list-footer">
                    <li><a href="mailto:help@unclehub.com"><i class="fa fa-at"></i>Send us your feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-copy clearfix">
            <div class="pull-left">
                Copyright copyright 2016 UncleHub.com Inc.
            </div>
            <div class="pull-right">
                <a href="">Terms of Use</a>
                <a href="privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>