<div class="container-modal-login">
    <div id="general-notice" style="color:#889900"></div>
    <div class="social-login-buttons">
        <a href='/auth/facebook' class="btn btn-default btn-social-login facebook"> 
        <i class="fa fa-facebook-official modal-icons"></i> Continue with Facebook </a>
        <div id="status"></div>
        <a href='/auth/google' class="btn btn-default btn-social-login google"> 
        <i class="fa fa-google-plus modal-icons"></i> Continue with Google </a>
    </div>
    <small>We'll never post without your permission.</small>
</div>