<div class="container">
    <div class="clearfix cart-page-title">
        <h3 class="pull-left">1 item in your cart</h3> 
        <button class="btn btn-unclehub pull-right">Keep shopping</button>
    </div>
    <div class="cart-box row">
        <div class="col-md-8 col-sm-8">
            <div class="vendor-name">
                Vendor X
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41NudHN6FeL._SX342_QL70_.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <div class="title">
                        Genie by Eugenia Kim Women's Lana 100% Wool Floppy Hat
                    </div>
                    <div class="quantity">
                        Quantity: <strong>1</strong>
                    </div>
                    <div class="price">
                        Price: <strong>$95</strong>
                    </div>
                    <div class="links-actions">
                        <a href="">Save for later</a>
                        <a href="">Remove</a>
                    </div>
                </div>
            </div>
            <div class="row optional-note">
                <div class="col-md-6">
                    <textarea name="" id="" cols="1" rows="3" class="form-control" placeholder="Add an optional note to seller"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <h3>How you'll pay</h3>
            <ul>
                <li>
                    <input type="radio" name="payment-way" id="payment-1">
                    <label for="payment-1"> 
                        <img src="assets/img/cards.png" alt="">
                    </label>
                </li>
                <li>
                    <input type="radio" name="payment-way" id="payment-2">
                    <label for="payment-2"> 
                        <img src="assets/img/paypal.png" alt="">
                    </label>
                </li>
                <div class="clearfix total">
                    <div class="pull-left price">Item total: </div>
                    <div class="pull-right price"><strong>$95</strong></div>
                </div>
                <a routerLink="/checkout" class="btn btn-success btn-full">Proceed to checkout</a>
            </ul>
        </div>
    </div>
</div>