.wrapper-categories-links {
    position: relative;
    background:#ffa500;
    overflow: hidden;
    min-height: 1.5em;
}
.categories-links {
    visibility: visible;
    height: auto;
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        color: #fff;
        padding: .5em;
    }
}