.home-vertical-links {
	width: 100%;
	.btn {
		width: 100%;
		text-align: left;
	}
	.featured-text {
		color: #53a318;
		text-transform: uppercase;
		font-weight: bold;
	}
	.count {
		color: #888;
	}
}
.promotion-banner-home {
	width: 100%;
	height: 100px;
	background: #aaa;
	margin-bottom: 2em;
}

.responsive-img {
	max-width: 100%;
}
.home-featured-card {
	h1 {
		font-size: 1em;
		padding: 0;
		margin: 0;
		color: #888;
	}
	h2 {
		font-size: 1.5em;
		margin: .3em 0;
		a {
			color: inherit;
		}
	}
	.desc {
		color: #888;
	}
	.location {
		color: #888;
		padding: .5em 0;
		font-size: 1.1em;
	}
	.price {
		.old-price {
			display: inline-block;
			text-decoration: line-through;
			font-weight: bold;
			color: #757575;
		}
		.real-price {
			color: #53a318;
			display: inline-block;
			font-weight: bold;
			font-size: 1.5em;
		}
	}
	.btn {
		float: right;
		padding: .6em 2.5em;
	}
}

.home-card {
	background: #F2F2F2;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	display: block;
	transition: box-shadow .2s;
	will-change: box-shadow;
	margin: .7em 0;
	&:hover,
	&:active,
	&:focus {
		color: inherit;
		text-decoration: inherit;
		box-shadow: 0 0 4px rgba(0,0,0,.5);
	}
	.interested {
		float: left;
		text-align: center;
		padding: .3em;
		margin-top: .4em;
		strong {
			display: block;
			font-size: 1.4em;
			color: #cc7104;
		}
		span {
			display: block;
			color: #666;
		}
	}
	.image-area {
		background: #aaa;
		height: 140px;
		width: 100%;
		position: relative;
		background: #fff no-repeat center;
		background-size: contain;
		.recently-viewed {
			background: rgba(0,0,0,.4);
			color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: .4em 1em;
		}
	}
	h1 {
		margin: 0 0 1em 0;
		font-size: 1.3em;
		padding: 0;
	}
	h2 {
		margin: 0;
		font-size: 1.1em;
		color: #999;
		padding: 0 1em;
	}
	.location {
		padding: .2em 1em;
		color: #999;
	}
	.content-area {
		padding: 1.5em 1.5em .5em;
	}
	.content-area > .price {
		float: right;
		margin-top: 1em;
		padding: 0;
		.price-label {
			float: none;
			margin-right: 1em;
			// font-weight: bold;
			&::after {
				content: ':';
			}
		}
		.original-price {
			text-align: right;
			padding: 0;
			.price {
				color: #656565;
				font-weight: bold;
				text-decoration: line-through;
				text-align: right;
				// float: right;
			}
		}
		.asking-price {
			text-align: right;
			padding: 0;
			.price {
				text-align: right;
				// float: right;
				color: #53a318;
				font-size: 1.3em;
				font-weight: bold;
			}
		}
	}
	.content-area > .options {
		padding: 0;
		.option-item {
			padding: 0;
		}
		.question {
			float: left;
		}
		.answer {
			float: right;
			font-weight: bold;
			font-size: .9em;
		}
	}
}
.post-card-now {
    .home-card {
		margin: 0 auto;
		transition: .2s;
		border: 1px solid #dedcdc;
		&:hover,
		&:focus {
			transform: translate(0,-10px);
		}
	}
}

.wrap-cards-home {
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.home-card-grid {
		padding: 7.5px;
		flex: 1 25%;
		max-width: 25%;
		.home-card {
			height: 100%;
		}
	}
}

@media only screen and (max-width:992px) {
	.wrap-cards-home {
		.home-card-grid {
			flex: 1 33.3333%;
			max-width: 33.3333%;
		}
	}
}

@media only screen and (max-width:765px) {
	.wrap-cards-home {
		.home-card-grid {
			flex: 1 50%;
			max-width: 50%;
		}
	}
}
@media only screen and (max-width:480px) {
	.wrap-cards-home {
		justify-content: center;
		.home-card-grid {
			max-width: 100%;
			flex: 1 100%;
		}
	}
}

.promotion-banner-m {
	margin: 2em 0;
	height: 150px;
}

.btn-view-all {
	margin: 2em auto 0;
	display: block;
}

.buy {
	.btn.btn-full {
		margin-top: 1em;
	}
}

.middle-image {
	max-height: 250px;
	background: #F2F2F2 url(assets/img/middle.jpg);
	background-position: center center;
	color: #ffa500;
	text-align: center;
	font-size: 2em;
	span {
		color: #ffa500;
	}
}

.container-middle-image {
	max-width: 440px;
    width: 100%;
    margin: 2.5em auto;
    font-size: .9em;
	> span {
		display: block;
	}
	.get-better-deal {
		text-transform: uppercase;
		color: #c9302c;
		font-weight: 700;
	}
	.smaller-group {
		font-size: .8em;
	}
	.try-post {
		color: rebeccapurple;
	}
	.for-free {
		color: #c9302c;
		font-weight: 700;
		span {
			color: #c9302c;
			text-transform: uppercase;
		}
	}
}

.middle-image-icon-container {
	text-align: center;
	color: #303030;
	font-size: 1.7em;
}
.middle-image-icons {
	padding: 2em 0;
}
.middle-image-icon {
	width: 50px;
}

@media only screen and (max-width:992px) {
	body {
		font-size: 12px;
	}
	.link-logo {
		.header-hat-logo {
			width: 40px;
		}
		.header-text-logo {
			width: 110px;
			margin: 0;
		}
	}
}

@media only screen and (max-width:768px) {
	.link-logo {
		width: auto;
		.header-hat-logo {
			width: 40px;
		}
		.header-text-logo {
			display: none;
		}
	}
	.search-wrapper {
		width: 85%;
	}
}

@media only screen and (max-width: 770px) {
	.middle-image-icon-container {
		font-size: 1.3em;
		.middle-image-icon {
			width: 2.2em;
		}
	}
}

@media only screen and (max-width: 610px) {
	.middle-image-icon-container {
		width: 100%;
		margin: 1em auto;
	}
}

@media only screen and (max-width:500px) {
	.link-logo {
		width: 67px;
	}
	// .home-card-grid {
	// 	width: 100%;
	// }
}

@media only screen and (max-width:480px) {
	.link-logo {
		width: 100%;
	}
	.link-logo .header-text-logo {
		display: inline-block;
		margin-top: 0.6em;
	}
	.container-middle-image {
		font-size: .8em;
	}
	.search-wrapper {
		width: 100%;
		margin-top: 1em;
	}
}
