.navbar {
	border-bottom: 1px solid #aaa;
	min-height: 0;
	.container {
		position: relative;
	}
}
.nav-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	padding: 0;
	margin: 0;
	height: 3em;
	li {
		display: inline-block;
		height: 100%;
	}
	li > a {
		display: block;
		height: 100%;
		line-height: 3em;
		padding: 0 1em;
		&:hover {
			border-bottom: 2px solid #ffa500;
			text-decoration: none;
		}
	}
}