<form action="" class="login-form">
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="login">Email or Username</label>
            <input id="login" name="login" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input id="pass" name="pass" class="form-control" type="password">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" checked value="">Stay signed in</label>
        </div>
        <div id="loginerror" style="color:red"></div>
        <button class="btn btn-full btn-primary" type="button" onclick="doLoginFromForm();">Sign in</button>
    </div>
  </div>
  <hr>
  <div class="login-footer-form">
      <p class="wrapper-link-footer-form"><a rel="nofollow" href="#">Forgot your password?</a></p>
      <p class="wrapper-link-footer-form"><a rel="nofollow" href="#">Forgot your username or email?</a></p>
      <p class="wrapper-link-footer-form"><a rel="nofollow" href="#">Reopen your account?</a></p>
  </div>
</form>
