
.flex-row {
    display: flex;

    .title {
        flex: 3;
        margin-right: 20px;
    }

    .quantity {
        flex: 1;
    }
}

.price {
    margin-top: 20px;
    flex: 1;
}

.tax-rates {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    justify-content: center;
    flex: 1;
}

.form-group.frow {
    margin-top: 20px;
}

.pagination {
    li:hover {
        cursor: pointer;
    }
}

.step-shipping {

    .flex-row {
        margin-top: 20px;

        &+.form-group {
            margin-top: 20px;
        }
    }

    label[for="zipcode"] {
        flex: 1;
    }
    
    .input-group {
        width: 50%;
    }

    [for="item-weight"] {
        flex: 1;
        display: block;

        &~.input-group{
            width: 33%;
        }
    }

    .input-group + .input-group {
        margin-left: 10px;
    }

    [for="item-size"] {
        flex: 1;
        display: block;

        > span {
            font-size: 12px;
            display: block;
            color: #777;
        }

    }
    [for="item-size"] ~ .input-group {
        width: 25%;
    }
}

.payment_methods {
    background: url(assets/img/pay_methods.png) no-repeat 50%;
    width: 234px;
    height: 23px;
    text-indent: -99999px;
    overflow: hidden;
}