<article class="container deal-page">
      <div class="deal-container">
          
          <div ng-controller="productController" class="row">
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-12">
                          <h2 ng-if="deal.category != 0" ng-bind="deal.category"></h2>
                          <h2 ng-if="deal.category == 0">Product</h2>
                          <div class="wrapper-post-product-page">
                              <div class="post-card-now" style="display:block;">
                                  <a class="home-card post-card" (click)="transferToProductPage(deal, 'product.html')">
                                      <div class="image-area" style="background-image:url(assets/img/product.png)"></div>
                                      <div class="content-area">
                                          <h1 ng-bind="deal.title"></h1>
                                          <div class="description" ng-bind="deal.description"></div>
                                          <div class="price">
                                              <div class="clearfix original-price">
                                                  <span class="price-label">Original Price</span>    
                                                  <span class="price">$<span ng-bind="deal.original_price"></span></span>
                                              </div>
                                              <div class="clearfix asking-price">
                                                  <span class="price-label">Asking Price</span>     
                                                  <span class="price">$<span ng-bind="deal.asking_price"></span></span>
                                              </div>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="offers">
                      <tabset>
                        <tab heading="Vendor's offer">
                            <ul class="deal-options">
                                <li>
                                <input id="deal-option-1" type="radio" name="deal-option" checked value="1">
                                <label for="deal-option-1">
                                    <h3>Vendor's offer</h3>
                                    <div>
                                    <div class="breakout-item">
                                        <div class="breakout-message">
                                        Proposed a deal for
                                        </div>
                                        <div class="breakout-pricing">
                                        $<span>23</span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="clearfix">
                                        <h4><span class="by">posted by</span>Vendor A</h4>
                                        <div class="people-interested pull-right"><strong>45</strong> people interested <button type="button" class="btn-like-deal" href=""></button></div>
                                    </div>
                                </label>
                                </li>
                                <li>
                                <input id="deal-option-2" type="radio" name="deal-option" value="2">
                                <label for="deal-option-2">
                                    <h3>Vendor's offer</h3>
                                    <div>
                                    <div class="breakout-item">
                                        <div class="breakout-message">
                                        Proposed a deal for
                                        </div>
                                        <div class="breakout-pricing">
                                        $<span>12</span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="clearfix">
                                        <small class="offer-option">Free Warranty and Free Shipping</small>
                                        <h4><span class="by">posted by</span>Vendor B</h4>
                                        <div class="people-interested pull-right"><strong>23</strong> people interested <button type="button" class="btn-like-deal" href=""></button></div>
                                    </div>
                                </label>
                                </li>
                            </ul>
                        </tab>
                        <tab heading="Buyer's offer">
                            <ul class="deal-options">
                                <li>
                                    <h3>Buyer's offer</h3>
                                    <div>
                                        <div class="breakout-item">
                                            <div class="breakout-message">
                                            Asking price
                                            </div>
                                            <div class="breakout-pricing">
                                            $<span>12</span>
                                            </div>
                                        </div>
                                        <div class="breakout-item">
                                            <div class="breakout-message">
                                            Quantity
                                            </div>
                                            <div class="breakout-quantity">
                                                1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <h4><span class="by">posted by</span>Buyer A</h4>
                                        <div class="people-interested pull-right">
                                                <button class="btn btn-unclehub btn-xs" type="button">I want this deal</button>
                                                <button class="btn btn-primary btn-xs" type="button">Sell to this buyer</button>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                <h3>Buyer's offer</h3>
                                <div>
                                    <div class="breakout-item">
                                        <div class="breakout-message">
                                        Asking price
                                        </div>
                                        <div class="breakout-pricing">
                                        $<span ng-bind="((deal.original_price) - (deal.original_price/100*20)| number:2)"></span>
                                        </div>
                                    </div>
                                    <div class="breakout-item">
                                        <div class="breakout-message">
                                        Quantity
                                        </div>
                                        <div class="breakout-quantity">
                                            2
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <h4><span class="by">posted by</span>Buyer A</h4>
                                    <div class="people-interested pull-right">
                                            <button class="btn btn-unclehub btn-xs" type="button">I want this deal</button>
                                            <button class="btn btn-primary btn-xs" type="button">Sell to this buyer</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3>Buyer's offer</h3>
                                <div>
                                    <div class="breakout-item">
                                        <div class="breakout-message">
                                        Asking price
                                        </div>
                                        <div class="breakout-pricing">
                                        $<span ng-bind="((deal.original_price) - (deal.original_price/100*30)| number:2)"></span>
                                        </div>
                                    </div>
                                    <div class="breakout-item">
                                        <div class="breakout-message">
                                        Quantity
                                        </div>
                                        <div class="breakout-quantity">
                                            10
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <h4><span class="by">posted by</span>Buyer A</h4>
                                    <div class="people-interested pull-right">
                                            <button class="btn btn-unclehub btn-xs" type="button">I want this deal</button>
                                            <button class="btn btn-primary btn-xs" type="button">Sell to this buyer</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </tab>
                      </tabset>
                      <!--<ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#vendors-offer">Vendor's offer</a></li>
                          <li><a data-toggle="tab" href="#buyers-offer">Buyer's offer</a></li>
                      </ul>
                      <div class="tab-content">
                          <div id="vendors-offer" class="tab-pane fade in active">
                                
                          </div>
                          <div id="buyers-offer" class="tab-pane fade in">
                                
                          </div>
                      </div>-->

                      <div class="row">
                          <div class="col-md-12">
                              <a class="btn btn-default btn-full" style="margin: .5em 0;" target="_blank"><i class="fa fa-external-link"></i> Original link</a>
                          </div>
                          <div class="col-md-12" style="padding: 1em;">
                              <span class="share-deal-title">Share this deal</span>
                              <div class="pull-right">
                                  <a class="share-deal-link" href="#share"><i class="fa fa-envelope"></i></a>
                                  <a class="share-deal-link" href="#share"><i class="fa fa-facebook-official"></i></a>
                                  <a class="share-deal-link" href="#share"><i class="fa fa-twitter"></i></a>  
                                  <a class="share-deal-link" href="#share"><i class="fa fa-pinterest"></i></a>
                              </div>
                          </div>

                          <div class="col-md-12 col-sm-6">
                              <a class="btn btn-action-deal" (click)="makeOfferModal.show()">Make Offer </a>
                          </div>
                          <div class="interested-button-area col-md-12 col-sm-6">
                              <a class="btn btn-action-deal" routerLink="/checkout">Buy</a>
                              <strong>*We charge the buyers account only after the goods are delivered.</strong>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 product-tabs">
                  <tabset>
                    <tab heading="Comments">
                        <div class="product-comments">
                            <div class="comment">
                                <img class="user-photo" src="assets/img/default-avatar.gif" alt="">
                                <div class="comment-content">
                                    <h4>Vendor A</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officiis vero accusantium, consequatur voluptatem tenetur dolorum in nostrum. Pariatur totam, a esse eum iste eius reiciendis quibusdam sint corrupti, cum.
                                </div>
                            </div>

                            <div class="comment">
                                <img class="user-photo" src="assets/img/default-avatar.gif" alt="">
                                <div class="comment-content">
                                    <h4>Vendor B</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officiis vero accusantium, consequatur voluptatem tenetur dolorum in nostrum. Pariatur totam, a esse eum iste eius reiciendis quibusdam sint corrupti, cum.
                                </div>
                            </div>

                            <div class="comment">
                                <img class="user-photo" src="assets/img/default-avatar.gif" alt="">
                                <div class="comment-content">
                                    <h4>Vendor C</h4>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officiis vero accusantium, consequatur voluptatem tenetur dolorum in nostrum. Pariatur totam, a esse eum iste eius reiciendis quibusdam sint corrupti, cum.
                                </div>
                            </div>
                        </div>
                        <form class="product-comment-form" action="">
                            <div class="form-group">
                                <label for="">Message</label>
                                <textarea class="form-control" name="" rows="3" placeholder="Type your message"></textarea>
                            </div>
                            <button class="btn btn-primary btn-product-comment">Comment</button>
                        </form>
                    </tab>
                    <tab heading="Shipping & Policies">
                        <div class="policies-content">
                            <h4>Payment methods</h4>
                            <div class="payment_methods">Payment methods</div>
                            <hr>
                        </div>
                        <div class="policies-content">
                            <strong>Ready to ship in 1-3 business days.</strong>
                        </div>
                        <div class="policies-content">
                            <h4>Shipping costs</h4>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Shipping to</label>
                                        <select name="" class="form-control">
                                            <option value="">United States</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label>Zip or postal code</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                            <input type="text" class="form-control" placeholder="12345">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label>Cost</label>
                                    <div class="cost">$6.00</div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="policies-content">
                            <h4>Policies</h4>
                            <div class="policies">
                                <div class="policies-item">
                                    <div class="row">
                                        <h5 class="col-md-3 col-sm-3">Lorem title</h5>
                                        <div class="col-md-9 col-sm-9">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non modi suscipit dolorum, sit eum impedit voluptas tenetur. Exercitationem cupiditate soluta asperiores quibusdam aperiam beatae, doloribus ipsa quisquam autem libero.
                                        </div>
                                    </div>
                                </div>
                                <div class="policies-item">
                                    <div class="row">
                                        <h5 class="col-md-3 col-sm-3">Lorem title</h5>
                                        <div class="col-md-9 col-sm-9">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non modi suscipit dolorum, sit eum impedit voluptas tenetur. Exercitationem cupiditate soluta asperiores quibusdam aperiam beatae, doloribus ipsa quisquam autem libero.
                                        </div>
                                    </div>
                                </div>
                                <div class="policies-item">
                                    <div class="row">
                                        <h5 class="col-md-3 col-sm-3">Lorem title</h5>
                                        <div class="col-md-9 col-sm-9">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non modi suscipit dolorum, sit eum impedit voluptas tenetur. Exercitationem cupiditate soluta asperiores quibusdam aperiam beatae, doloribus ipsa quisquam autem libero.
                                        </div>
                                    </div>
                                </div>
                                <div class="policies-item">
                                    <div class="row">
                                        <h5 class="col-md-3 col-sm-3">Lorem title</h5>
                                        <div class="col-md-9 col-sm-9">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non modi suscipit dolorum, sit eum impedit voluptas tenetur. Exercitationem cupiditate soluta asperiores quibusdam aperiam beatae, doloribus ipsa quisquam autem libero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                  </tabset>
                  <!--<ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#comments">Comments</a></li>
                      <li><a data-toggle="tab" href="#shipping-policies">Shipping & Policies </a></li>
                  </ul>

                  <div class="tab-content">
                      
                      
                  </div>-->
              </div>
          </div>

      </div>

      <div class="row">
        <div class="col-md-12">
              <h2>Customers Also Viewed</h2>
              <div class="row wrap-cards-home" ng-controller="costumersAlsoViewedController">
                  <div ng-repeat="deal in deals" class="home-card-grid">
                      <a class="home-card" href="#" (click)="transferToProductPage(deal,'product.html')">
                          <div id="preview-image" class="image-area" style="background-image: url(assets/img/product.png);"></div>
                          <div class="content-area">
                              <h1 ng-bind="deal.short_title"></h1>
                              <div class="interested">
                                  <strong ng-bind="deal.interested"></strong> <span>Buyers</span>
                              </div>
                              <div class="price">
                                  <div class="clearfix original-price">
                                      <span class="price-label">Original Price</span>    <span class="price">$<span ng-bind="deal.original_price"></span></span>
                                  </div>
                                  <div class="clearfix asking-price">
                                      <span class="price-label">Asking Price</span>     <span class="price">$<span ng-bind="deal.asking_price"></span></span>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
        </div>

        <div class="col-md-12" ng-controller="youViewedController">
              <div ng-if="deals != null">
                  <h2>You Viewed</h2>
                  <div class="row wrap-cards-home">
                      <div ng-repeat="deal in deals" class="home-card-grid">
                          <a class="home-card">
                              <div class="image-area" style="background-image: url(assets/img/product.png);">
                                  <div class="recently-viewed">Recently Viewed</div>
                              </div>
                              <div class="content-area">
                                  <h1>Item title</h1>
                                  <div class="interested">
                                      <strong ng-bind="deal.interested"></strong> <span>Buyers</span>
                                  </div>
                                  <div class="price">
                                      <div class="clearfix original-price">
                                          <span class="price-label">Original Price</span>    <span class="price">$<span ng-bind="deal.original_price"></span></span>
                                      </div>
                                      <div class="clearfix asking-price">
                                          <span class="price-label">Asking Price</span>     <span class="price">$<span ng-bind="deal.asking_price"></span></span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</article>


<!--Make an offer modal-->
<div class="modal fade" bsModal #makeOfferModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog"> 
    <div class="wrapper-quantity" style="display: none;">
        <form action="/" class="form-box-quantity ng-pristine ng-valid">
            <div class="box-quantity">
                    <button type="button" class="close">×</button>
                    <div class="form-group">
                        <label for="">Quantity:</label>
                        <input name="input-quantity-box" class="form-control" type="number" autocomplete="off" required="" placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <button id="apply-quantity-button" type="submit" class="btn btn-primary btn-full">Apply</button>
                    </div>
            </div>
        </form>
    </div>

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="close(makeOfferModal)" class="close">&times;</button>
        <h4 class="modal-title">Make Offer</h4>
      </div>
      <form class="offer-form modal-body clearfix">
          <!--choose any offer-->
          <div class="row" *ngIf="!offerPicked">
            <div class="text-center">
                <button type="button" class="btn btn-primary" (click)="switchOffer('buyer')">I'm a buyer</button>
                <button type="button" class="btn btn-primary" (click)="switchOffer('vendor')">I'm a vendor</button>
            </div>
          </div>
          <!--If offer picked is 'buyer'-->
          <div class="buyer-form" *ngIf="offerPicked=='buyer'">
              <div class="flex-row">
                  <div class="title">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" autofocus value="Buyer's offer">
                  </div>
                  <div class="quantity">
                      <label for="title">Title</label>
                      <select class="form-control" name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="others">others</option>
                      </select>
                  </div>
              </div>
              <div class="flex-row">
                <div class="price">
                    <label for="price">Price</label>
                    <input type="text" class="form-control">
                </div>
                <div class="spacer"></div>
              </div>
          </div>

          <!--If offer picked is 'vendor'-->
          <div class="vendor-form" *ngIf="offerPicked=='vendor'">

              <div class="text-center">
                <ul class="pagination">
                    <li [class.active]="step==1"><a (click)="toStep(1)">Offer</a></li>
                    <li [class.active]="step==2"><a (click)="toStep(2)">Shipping</a></li>
                    <li [class.active]="step==3"><a (click)="toStep(3)">Deposit Method</a></li>
                </ul>
              </div>

              <!--Step-1 Offer-->
              <div class="step-offer" *ngIf="step==1">
                  <div class="flex-row">
                    <div class="title">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" autofocus value="Vendor's offer">
                    </div>
                    <div class="quantity">
                        <label for="title">Title</label>
                        <select class="form-control" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="others">others</option>
                        </select>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="price">
                        <label for="price">Price</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="tax-rates">
                        <label><input type="checkbox" value=""> Apply tax rates</label>
                    </div>
                </div>
                <div class="form-group frow">
                    <label for="conditions">Conditions</label>
                    <div class="flex-row">
                        <label class="radio-inline">
                            <input type="radio" name="condition" checked="" required="" value="New">New
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="condition" value="Used">Used
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="condition" value="none">N/A
                        </label>
                    </div>
                </div>
                <div class="form-group frow">
                    <label><input type="checkbox" value=""> Free warranty</label>
                </div>
            </div>
            
            <!--Step-2 shipping-->
            <div class="step-shipping" *ngIf="step==2">
                <div class="flex-row">
                    <label for="zipcode">Origin zip code
                        <span class="sub-label">Where do you ship packages from?</span>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" class="form-control" placeholder="12345">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Processing time
                        <span class="sub-label">Once purchased, how long does it take you to ship an item?</span>
                    </label>
                    <select name="procTime" class="form-control">
                        <option value="">1 business day</option>
                        <option value="">1-2 business days</option>
                        <option value="">1-3 business days</option>
                        <option value="">3-5 business days</option>
                        <option value="">1-2 weeks</option>
                        <option value="">2-3 weeks</option>
                        <option value="">4-6 weeks</option>
                        <option value="">6-8 weeks</option>
                        <option value="">Unknown</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="where-ship">Where I'll ship
                        <span class="sub-label">What countries will you ship to?</span>
                    </label>
                    <div class="form-control flex-div-form-control">
                        United States and worldwide
                        <button class="btn btn-link"><i class="fa fa-edit"></i> edit</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="where-ship">Shipping services
                        <span class="sub-label">Buyers can choose these at checkout</span>
                    </label>
                    <div class="form-control flex-div-form-control">
                        6 USPS mail classes  edit
                        <button class="btn btn-link"><i class="fa fa-edit"></i> edit</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="free-shipping">
                        Free shipping <small>optional</small>
                        <span class="sub-label">Want to offer buyers a free shipping option?</span>
                    </label>
                </div>
                <div class="flex-row">
                    <label for="item-weight">Item Weight</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon transparent-addon">lbs</span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon transparent-addon">oz</span>
                    </div>
                </div>
                <div class="flex-row">
                    <label for="item-size">Item Size<span>When packed</span></label>
                    <div class="input-group">
                        <input type="text" placeholder="Length" class="form-control">
                        <span class="input-group-addon transparent-addon">in</span>
                    </div>
                    <div class="input-group">
                        <input type="text" placeholder="Width" class="form-control">
                        <span class="input-group-addon transparent-addon">in</span>
                    </div>
                    <div class="input-group">
                        <input type="text" placeholder="Height" class="form-control">
                        <span class="input-group-addon transparent-addon">in</span>
                    </div>
                </div>
            </div><!--/Step-2 shipping-->

            <!--Step-3 Payment Method-->
            <div class="step-payment" *ngIf="step==3">
                <div class="checkbox flex-row">
                    <label><input type="checkbox">Use Paypal</label>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-sm-4">
                        <label for="">9-Digit Routing Number</label>
                        <input type="text" class="form-control" maxlength="9">
                    </div>
                    <div class="form-group col-md-8 col-sm-8">
                        <label for="">Bank Account Holder Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="">Bank Account Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="">Re-type your Bank Account Number</label>
                        <input type="text" class="no-copy-paste form-control">
                    </div>
                </div>
            </div><!--/Step-3 Payment Method-->

          </div>
      </form>
      <div class="modal-footer">
          <div *ngIf="offerPicked">
              <button type="button" class="btn btn-default pull-left" *ngIf="step>0" (click)="prevStep()">
                  <i class="fa fa-arrow-left"></i> Previous
              </button>
              <button type="button" class="btn btn-primary pull-right" *ngIf="step>0 && step<4" (click)="nextStep()">
                  Continue <i class="fa fa-arrow-right"></i>
              </button>
              <button type="button" class="btn btn-success pull-right" (click)="addVendorOffer()" *ngIf="step==4">
                  <i class="fa fa-check"></i> Make offer
              </button>
          </div>
      </div>

    </div>
  </div>
</div>