
.flex-row {
    display: flex;

    .title {
        flex: 3;
        margin-right: 20px;
    }

    .quantity {
        flex: 1;
    }
}

.price {
    margin-top: 20px;
    flex: 1;
}

.tax-rates {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    justify-content: center;
    flex: 1;
}

.form-group.frow {
    margin-top: 20px;
}